/* ms-hd头部 */
.ms-hd .navbar-default {
	background: #fff;
}
.ms-hd .navbar-brand img {
	/*width: 100%;
	max-width: 100%;*/
}
.ms-hd .navbar {
	border-radius: 0;
	border-left: none;
	border-right: none;
	margin-bottom: 0;
}
.ms-hd .navbar-default .navbar-brand {
	height: auto;
	padding: 6px 15px;
}
@media (max-width: 768px) {
	.first-A, .begin-fd {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 768px) {
	
	.ms-hd .navbar-nav > li > a {
	    padding-top: 21px;
	    padding-bottom: 20px;
	    border-left: 1px solid #dce0e0;
	}
	.ms-hd .dropdown-menu {
		min-width: 282px;
   		max-width: 460px;
	}
	.ms-hd .dropdown-menu > li > a {
		padding: 20px;
	}
	.ms-hd .dropdown-menu > .li-help > a{
		padding: 10px 20px;
		color: #ff5a5f;
	}
	.ms-hd .dropdown-menu > li:not(.li-help) span {
		display: block;
		-webkit-transition: all .15s ease-out;
	    -moz-transition: all .15s ease-out;
	    -o-transition: all .15s ease-out;
	    transition: all .15s ease-out;
	}
	.ms-hd .dropdown-menu > li:not(.li-help):hover span {
		-moz-transform: translate(20px, 0);
		-webkit-transform: translate(20px, 0);
		-ms-transform: translate(20px, 0);
		-o-transform: translate(20px, 0);
		transform: translate(20px, 0);
	}
	.ms-hd .navbar-nav > li > a.first-A {
		padding-top: 14px;
		padding-bottom: 13px;
		border-left: none;
	}
	.begin-fd {
		border: 1px solid #ccc;
	}
	.ms-hd .navbar-default .navbar-nav > li  > a:hover, 
	.ms-hd .navbar-default .navbar-nav > li  > a:focus {
		background-color: #f5f5f5;
	}
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		border-color: #dce0e0;
	}
}
.ms-hd .navbar.navbar-default .navbar-toggle {
    margin-top: 13px;
}
.ms-hd .form-inline {
	margin-top: 13px;
	margin-left: 15px;
}
.ms-hd .input-group-addon {
	background-color: #fff;
    border: none;
}
.ms-hd .form-control,
.ms-hd .form-control:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 767px) {
	.ms-hd .form-inline {
	    display: none;
	}
}
@media (min-width: 768px) {
	.ms-hd .form-inline .input-group > .form-control {
	    width: 309px;
	}
}


@media (min-width: 1100px) {
	.carousel-inner > .item > img {
	    width: 100%;
	}

}
@media (min-width: 768px) {
	.ms-lbt,
	.ms-lbt .carousel {
	    height: 550px;
	}
	.carousel-inner > .item > img {
	    width: 100%;
	    height: 550px;
	}
}
.ms-lbt .carousel-caption {
	bottom: 50%;
	padding: 0;
	-webkit-transform: translate(0,50%);
	-moz-transform: translate(0,50%);
	-ms-transform: translate(0,50%);
	-o-transform: translate(0,50%);
	transform: translate(0,50%);
}


.ms-main {
	padding-top: 20px;
}
.main-title {
	margin-bottom: 40px;
}
.ms-pic {
	display: block;
	position: relative;
}
.ms-pic img {
	width: 100%;
	max-width: 100%;
	height: 100%;
}
.ms-dd {
	position: absolute;
	bottom: 0;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-indent: 1em;
}
.ms-pic-box {
	margin-bottom: 30px;
}
.col-sm-6 .ms-pic {
	height: 350px;
}
.col-sm-4 .ms-pic {
	height: 280px;
}
.col-sm-3 .ms-pic {
	height: 160px;
}

.main-item a {
	color: #333;
}
.main-item .nav-tabs {
	margin-bottom: 30px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
    border-bottom: 3px solid #ff5a5f;
    color: #ff5a5f;
    font-weight: 600;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: #ff5a5f;
    background-color: #fff;
}
.nav-tabs > li > a {
	 border: none;
	 font-size: 16px;
}
.nav-tabs > li > a:hover {
    border: none;
    /*padding-top: 13px;
    padding-bottom: 7px;*/
}

.ms-footer {
	padding: 50px 0 20px;
	background: #2b2d2e url(../images/ftbg.png) no-repeat center;
}
.ft-item {
	color: #fff;
	font-size: 16px;
}
.ft-item dt {
	margin-bottom: 12px;
}
.ft-item dd {
	margin-bottom: 6px;
}
.ft-item a {
	color: #ccc;
	font-size: 14px;
}
.ft-item a:hover {
	color: #fff;
}
.ms-copyright {
	text-align: center;
	color: #ccc;
	font-size: 12px;
	margin-top: 30px;
}

.ms-bt {
	font-size: 16px;
}
.ms-bt a:hover {
	text-decoration: none;
	color: #ff5a5f;
}


/* PersonalCenter */
.PC-main {
	padding: 24px 0;
	background: #f5f5f5;
}
.PCM-pic {
	margin-bottom: 20px;
}
.PCM-pic img {
	width: 100%;
}
ul {
	list-style: none;
	padding-left: 0;
}
.PCM-panel .glyphicon {
	font-size: 24px;
	line-height: 45px;
	color: #3fb34f;
}
.PCM-panel-nr {
	display: table-cell;
	padding-left: 15px;
}
.PCM-panel-nr p {
	margin-bottom: 5px;
}
.PCM-panel-nr p:last-of-type {
	color: #999;
}
.panel-default > .panel-heading {
	background: #edefed;
}
.link-reset {
	color: inherit;
}
.link-reset:hover {
	color: #ff5a5f;
}
.PCM-signature {
	margin-top: 50px;
}
.PCM-pj-name {
	margin-top: 50px;
}
.pj-reviews {
	margin-top: 20px;
}
.pj-pic {
	display: block;
}
.pj-pic img {
	width: 68px;
	height: 68px;
	border-radius: 50%;
}
.pj-pic p {
	margin-top: 10px;
}
.pj-nr p {
	min-height: 68px;
	max-height: 80px;
	overflow: hidden;
}
.pj-time {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.pj-reviews .row:last-of-type .pj-time {
	border-bottom: none;
}
.pj-reviews .row {
	margin-bottom: 10px;
}
.photo-pic {
	width: 100%;
	margin-top: 20px;
}
/* */
.Se-main {

}
.search-if {
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
}
.search-if:last-of-type {
	border-bottom: none;
}
.search-dt {
	line-height: 34px;
	font-weight: normal;
}
.search-if .checkbox {
	background: #edefed;
	padding: 9px 0 7px 8px;
	margin-top: 0px;
	font-weight: normal;
}
.search-xzk {
	right: 8px;
}


.search-nr {
	background: #f7f7f7;
	margin-top: 20px;
}
.search-room {
	position: relative;
}
.Se-room-pic {
	position: relative;
	display: block;
}
.Se-room-pic img {
	width: 100%;
}
.Se-room-love {
	position: absolute;
    right: 15px;
    top: 8px;
    font-size: 32px;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0;
}
.Se-room-love:hover {
	text-decoration: none;
	color: #ff5a5f;
}
.Se-room-love:focus {
	color: #fff;
	text-decoration: none;
}
.Se-room-fd {
	position: absolute;
	right: 15px;
	bottom: -28px;
}
.Se-room-fd img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
}
.search-h {
	padding-left: 5px;
	margin-bottom: 15px;
}
.search-h3 {
	font-size: 16px;
}
.search-h3 a {
	color: #333;
}
.search-h3 a:hover {
	color: #ff5a5f;
}
.search-A {
	color: #666;
}
.search-A:hover {
	color: #ff5a5f;
	text-decoration: none;
}
.search-A i {
	color: #bbb;
}
.search-A .Cffb400 {
	color: #ffb400;
}
.tck-main .tck-main-p {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	padding-top: 5px;
}
.tck-main .tck-main-p:last-of-type {
	border-bottom: none;
}

.tck-hd-pic img {
	width: 68px;
	height: 68px;
	border-radius: 50%;
	border: 1px solid #fff;
}
@media (min-width: 768px) {
	.tck-hd-text {
		width: 480px;
		padding-left: 20px;
	}
	.tck-hd-text h1 {
		margin-top: 5px;
		font-size: 18px;
	}
	.tck-hd-text a {
		font-size: 14px;
	}
}
.tck-jianjie h3 {
	font-size: 16px;
	margin-left: 5px;
}
.tck-jianjie {
	margin-bottom: 20px;
}
.Se-room-pri {
	position: absolute;
	background-color: #2d2d2d;
    background-color: rgba(45,45,45,0.9);
    padding: 10px 20px 10px 10px;
    color: #fff;
    bottom: 30px;
    left: 0;
    font-size: 24px;
}
/* .ms-error */
.ms-error {
	margin-top: 20px;
}
.msError-box {
	border-style:dashed;
	border-color:#ff5a5f;
	line-height:30px;
}
/* help-aside */
.help-aside-box {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
@media (max-width: 768px) {
	.help-aside-box {
		border: none;
	}
}
.help-aside {

}
.help-aside h4 {
	font-size: 16px;
	color: #333;
	margin-top: 20px;
}
.help-aside h4 a {
	color: #333;
}
.help-aside a:hover {
	text-decoration: none;
}
.help-dl dt {
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
}
.help-dl dd {
	height: 24px;
	line-height: 24px;
}
.help-dl dd a {
	color: #666;
	font-size: 12px;
}
.help-aside h4 a:hover,
.help-dl dd a:hover {
	color: #ff5a5f;
}
.helpM-h1 {
	font-family: "microsoft yahei";
    font-size: 24px;
    color: #00C7DF;
    font-weight: normal;
    padding-left: 97px;
}
.green-h1 {
	color: #03DF44;
}
.helpM-dl dt {
	margin-bottom: 8px;
}
.helpM-dl dd {
	height: 24px;
	line-height: 24px;
}
.helpM-dl dd a {
	color: #666;
}
.helpM-dl dd a:hover {
	color: #ff5a5f;
}
.mB20 {
	margin-bottom: 20px;
}
/* ms-manage */
.ms-manage {
	padding-top: 20px;
	background: #f7f7f7;
	font-family: "Microsoft YaHei";
}
.msMag-nav {
	background: #9d9d9d;
	border-radius: 0px;
	border: none;
}
.ms-manage .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.msMag-nav .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
}
.msMag-nav .navbar-nav > .active > a,
.msMag-nav .navbar-nav > .active > a:hover,
.msMag-nav .navbar-nav > .active > a:focus,
.msMag-nav .navbar-nav > li > a:hover,
.msMag-nav .navbar-nav > li > a:focus {
	color: #ff5a5f;
	background: #fff;
}
@media (min-width: 768px) {
	.msMag-nav .navbar-nav > li {
	   margin-right: 10px;
	}
}
.msMag-block-name {
	font-size: 20px;
	height: 60px;
    line-height: 60px;
    color: #666;
    margin-top: 0px;
}
.msMag-block-aside {

	margin-bottom: 20px;
}
.msMag-block-aside a {
	color: #666;
}
.msMag-block-aside > .nav {
	background: #fff;
	padding: 0 15px 10px;
}
.msMag-block-aside .nav-pills > li.active > a,
.msMag-block-aside .nav-pills > li.active > a:hover,
.msMag-block-aside .nav-pills > li.active > a:focus,
.msMag-block-aside .nav-pills > li:hover > a {
	background: #ff5a5f;
	color: #fff;
}
.msMag-blockM-top {
	height: 60px;
	margin-bottom: 20px;
}
.msMag-blockM-top-col {
	background: #fff;
	padding: 0 15px;
}
.msMag-blockM-top h2 {
	margin-top: 0;
	font-size: 18px;
	line-height: 60px;
	margin-bottom: 0;
}
.btn-mag {
	color: #fff;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    margin-left: 10px;
}
.btn-mag:hover,
.btn-mag:focus {
    color: #fff;
    background-color: #e45055;
    border-color: #e45055;
}
.mT13 {
	margin-top: 13px;
}
.msMag-blockM-nr {
	background: #fff;
	margin-bottom: 20px;
}
.msMag-blockM-nr > .table {
	margin-bottom: 0;
}
.msMag-blockM-nr .table > thead > tr > th,
.msMag-blockM-nr .table > tbody > tr > th,
.msMag-blockM-nr .table > tfoot > tr > th,
.msMag-blockM-nr .table > thead > tr > td,
.msMag-blockM-nr .table > tbody > tr > td,
.msMag-blockM-nr .table > tfoot > tr > td {
	line-height: 34px;
}
.msMag-blockM-nr th {
	color: #333;
	font-weight: normal;
}
.msMag-blockM-nr td {
	color: #666;
}
.msMag-room {
	width: 23.33333333333333%;
}
.msMag-state {
	width: 13.666666666666664%;
}
.msMag-time {
	width: 25%;
}
.msMag-op {
	width: 30%;
}
/*.table-btn {
	color: #fff;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
}
.table-btn:hover {
	color: #fff;
    background-color: #e45055;
    border-color: #e45055;
}
.table-btn:focus,
.table-btn.focus {
    color: #fff;
}*/
.msMag-nr-detail {
	padding: 20px 0;
}
.msMag-nr-detail .row {
	padding: 10px 0;
}
.msMagND-name {
	font-size: 16px;
	color: #999;
}
.msMagND-txt {
	font-size: 14px;
	color: #666;
}
.msMagND-txt-ipt {
	margin-left: -15px;
	width: 90%;
    border: none;
    border-bottom: 1px solid #efefef;
    outline: none;
}
.upFile {
	width: 60px;
	height: 60px;
	position: relative;
}
.upFile input[type= "file"] {
	filter: alpha(opacity = 0);
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
	z-index: 10;
}
.addImg {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}
/* login register */
.logreg-mian {
	width: 100%;
    min-height: 550px;
    background: url(http://static.zzkcdn.com/bg.png) center;
    background-size: 100% 100%;
    /*text-align: center;*/
    padding-top: 60px;
}
.login-box {
	/*width: 500px;
	margin: 0 auto;*/
	background: #fff;
	padding: 20px 15px 40px;
}
.login-box .page-header {
	margin-top: 0;
	height: 39px;
}
.login-box .login-yhzc,
.register-box .login-yhzc {
	font-size: 14px;
	margin-top: 8px;
	color: #ff5a5f;
}
.btn-login {
	margin-top:10px;
	color: #fff;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    width: 100%;
    height: 46px;
    font-size: 18px;
}
@media (max-width: 768px) {
	.btn-login {
		width: 100%;
	}
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.btn-login:active:hover,
.btn-login.active:hover,
.btn-login:active:focus,
.btn-login.active:focus {
	color: #fff;
    background-color: #e85358;
    border-color: #e85358;
}
.login-forget {
	color: #ff5a5f;
	margin-top: 10px;
}
.login-forget:hover {
	color: #ff5a5f;
}
.reg-ipt {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    line-height: 36px;
	height: 36px;
}
.register-box {
	background: #fff;
	padding: 10px 20px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.register-box .page-header {
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.reg-login {
	margin-top: 10px;
}
/*.form-group-h36 {
	line-height: 36px;
}*/
.reg-check {
	padding-left: 15px;
}
/*.btn-reg {
	width: 25%;
}*/
.register-box .nav-tabs {
	margin-bottom: 20px;
}
.register-box .nav-tabs a {
	color: #333;
}
.reg-yzm {
	border: 1px solid #ccc;
	cursor: pointer;
}
.up-idCard-box {
	width: 100%;
	height: 36px;
}
.sfz-btn {
	height: 36px;
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
    /*line-height: 36px;*/
}
.up-idCard-box input[type= "file"] {
    width: 100%;
    height: 36px;
}
/* ms-reg */
.ms-reg {
	background-image: url('http://static.zzkcdn.com/registerbg2.png');
	width: 100%;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
.msRegBox {
	background: rgba(255, 255, 255, 0.9);
	height: 345px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
	padding-top: 10px;
}
.msRegBox-block {
	width: 112px;
	margin: 0 auto;
}
.msRegBox-img {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.msRegBox-img img {
	width: 100px;
	height: 100px;
}
.msRegBox-ul {
	margin-top: 20px;
}
.msRegBox-ul li span {
	margin-bottom: 12px;
    background: url("http://static.zzkcdn.com/registerOval%203.png");
    margin-right: 13px;
    display: block;
    margin-top: 6px;
    background-size: inherit;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 1px 4px;
}
.msRegBox-A {
	background-color: #f35758;
    display: block;
    height: 55px;
    line-height: 55px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}
.msRegBox-A:hover {
	color: #fff;
	text-decoration: none;
}


@media (min-width: 768px) {
	.nav01 .navbar-nav {
		margin-left: 80px;
	}
	.nav01 .navbar-nav > li > a {
		border-left: none;
	}
}
.h34 {
	height: 34px;
}
.ms-list-box {
	padding-top: 30px;
}
.fixHd{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 61px;
    z-index: 100;

}
 .form-group .col-sm-4 {
	 margin-top: 80px;
}
.form-group .checkbox{
	margin-top: 80px;
}


.pagination > ul > li {
			  display: inline;
			}
			.pagination > ul > li > a,
			.pagination > ul > li > span {
			  position: relative;
			  float: left;
			  padding: 6px 12px;
			  margin-left: -1px;
			  line-height: 1.42857143;
			  color: #337ab7;
			  text-decoration: none;
			  background-color: #fff;
			  border: 1px solid #ddd;
			}
			.pagination > ul > li:first-child > a,
			.pagination > ul > li:first-child > span {
			  margin-left: 0;
			  border-top-left-radius: 4px;
			  border-bottom-left-radius: 4px;
			}
			.pagination > ul > li:last-child > a,
			.pagination > ul > li:last-child > span {
			  border-top-right-radius: 4px;
			  border-bottom-right-radius: 4px;
			}
			.pagination > ul > li > a:hover,
			.pagination > ul > li > span:hover,
			.pagination > ul > li > a:focus,
			.pagination > ul > li > span:focus {
			  z-index: 3;
			  color: #23527c;
			  background-color: #eee;
			  border-color: #ddd;
			}
			.pagination > ul > .active > a,
			.pagination > ul > .active > span,
			.pagination > ul > .active > a:hover,
			.pagination > ul > .active > span:hover,
			.pagination > ul > .active > a:focus,
			.pagination > ul > .active > span:focus {
			  z-index: 2;
			  color: #fff;
			  cursor: default;
			  background-color: #337ab7;
			  border-color: #337ab7;
			}
			.pagination > ul > .disabled > span,
			.pagination > ul > .disabled > span:hover,
			.pagination > ul > .disabled > span:focus,
			.pagination > ul > .disabled > a,
			.pagination > ul > .disabled > a:hover,
			.pagination > ul > .disabled > a:focus {
			  color: #777;
			  cursor: not-allowed;
			  background-color: #fff;
			  border-color: #ddd;
			}

/* input textarea */
.textAreaInput{
	border: 1px solid #efefef;
	border-radius: 5px;
	height: 140px;
	width: 98%;
}

/* 房源,房间管理 部分样式 */
.boxHeader {height:40px; border-bottom:1px solid #d6d6d6;}
.boxTitle {float:left; padding-left:20px; line-height:30px; font-size:20px; color:#666}

/* 房源,房间管理 部分样式 */
.sortRoom {
	padding-top: 20px;
}
.sortRoom-crumb a {
	color: #333;
}
.sortRoom-crumb a:hover,
.sortRoom-crumb a:focus {
	color: #ff5a5f;
}
.sortRoom-hd {
	border: 1px solid #ccc;
}
.sortRoom-slide a {
	display: block;
}
.sortRoom-slide img {
	width: 100%;
}
.sortRoom-info {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}
.room-name {
	font-size: 28px;
    color: #141414;
    margin: 0;
}
.room-pri {
	font-size:15px;
	position: absolute;
	right: 0;
	top: 10px;
}
.homestay-address, .homestay-name {
    font-size: 16px;
    color: #605f5f;
}
.room-detail > span {
    display: inline-block;
    color: #141414;
    font-size: 14px;
    min-width: 146px;
    margin-bottom: 5px;
}
.fav-btn, .fav-btn:hover, .fav-btn:focus {
    color: #f35758;
    text-decoration: none;
}
.fav-btn {
	margin-left: 50px;
}
.fav-btn span.icon-large {
    vertical-align: middle;
}
.icon-favorite-null-large {
    background-image: url('http://static.zzkcdn.com/@/images/icons/icon-favorite.png');
    background-repeat: no-repeat;
    background-position: -3px -8px;
}
.icon-large {
    display: inline-block;
    width: 28px;
    height: 28px;
}
.room-pri .price {
    color: #f35758;
}
.room-fav {
	margin-left:0;
	margin-right:0;
	margin-top: 30px;
}
.room-detail {
    margin-top: 10px;
}
.special-service {
    margin-top: 30px;
}
.special-service > .service-item {
    margin-right: 20px;
}
.icon-middle {
    display: inline-block;
    width: 22px;
    height: 22px;
}
.icon-breakfast-on-middle {
    background-image: url('http://static.zzkcdn.com/@/images/icons/icon-service-middle.png');
    background-repeat: no-repeat;
    background-position: -12px -10px;
}
.special-service .icon-middle {
    vertical-align: text-bottom;
    margin-right: 5px;
}
#room_select_wrapper {
    margin-top: 20px;
}
.body-section {
    margin-bottom: 25px;
}
#book_flow {
    border: 1px solid #dcdcdc;
    padding: 0 25px;
    margin-bottom: 30px;
}
#book_flow p {
    margin-right: 20px;
    color: #535151;
    margin-bottom: 0;
}
#book_flow ul {
    display: inline-block;
    margin-bottom: 0;
}
#book_flow p, #book_flow ul li {
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
}
#book_flow ul li {
    color: #272525;
    margin: 0 5px;
}
#book_flow ul li.active {
    color: #2c97df;
}
#book_flow ul li.separator {
    width: 40px;
    background: url('http://static.zzkcdn.com/@/images/icons/icon-connector.png') no-repeat -1px 17px;
}
.setting_yes,
.setting_no {
    margin-top: 10px;
    font-size: 16px;
    float: left;
}

.setting_yes:before,
.setting_no:before {
    content: '';
    width: 29px;
    height: 29px;
    vertical-align: middle;
    display: inline-block;
}

.setting_yes:before {
    background: url(http://static.zzkcdn.com/room/detail/setting_yes.png) no-repeat;
}

.setting_yes {
}

.setting_no:before {
    background: url(http://static.zzkcdn.com/room/detail/setting_no.png) no-repeat;
}

.setting_no {
    color: #605f5f;
}
.icon {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
}
.icon-star-off {
    background-image: url('http://static.zzkcdn.com/@/images/icons/icon-star-off.png');
    background-repeat: no-repeat;
    background-position: -4px -4px;
}
.score-default p {
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
}
#comments_filter a, #comments_filter span {
    vertical-align: bottom;
    font-size: 16px;
}
#comments_filter a {
    text-decoration: none;
    color: #373636;
}
#comments_filter a.active {
    color: #f35758;
}
#comments_filter span {
    color: #ccc;
}
.ms-pl {
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 15px;
	padding-bottom: 20px;
}
#other_room_slide > li > a {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}
#other_room_slide > li > a > img {
    width: 100%;
    margin-bottom: 10px;
}
#other_room_slide > li > a > .other-room-name {
    float: left;
    color: #141414;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
#other_room_slide > li > a > .other-room-model {
    color: #605f5f;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 15px;
}
#other_room_slide > li > a > .other-room-price {
    float: right;
    color: #f35758;
    font-size: 24px;
}
.other_room_slide_row {
	padding-bottom: 20px;
}
.lslide {
	margin-bottom: 30px;
}

#baseinfo-hd1 h3 {
    font-size: 28px;
    line-height: 1em;
    color: #161616;
    margin-right: 15px;
    margin-top: 0;
}
#baseinfo-hd1 span {
    line-height: 28px;
    margin-right: 5px;
}
.icon-certified-large {
    background-image: url('http://static.zzkcdn.com/@/images/icons/icon-certified.png');
    background-repeat: no-repeat;
    background-position: -2px -7px;
}
.icon-position {
    background-image: url('http://static.zzkcdn.com/@/images/icons/icon-location.png');
    background-repeat: no-repeat;
    background-position: -4px -11px;
}
#baseinfo-hd2 {
	margin-top: 20px;
}
#baseinfo-hd2 p, #baseinfo-hd2 a {
    font-size: 16px;
    line-height: 1em;
}
#baseinfo-hd2 p {
    display: inline-block;
    color: #454444;
    margin-right: 10px;
}
#baseinfo-hd2 a:hover {
    text-decoration: underline;
}
#baseinfo-hd3 {
	margin-top: 10px;
}
#baseinfo-hd3 .favorite {
    font-size: 16px;
    color: #f35758;
    text-decoration: none;
    line-height: 28px;
    height: 28px;
}
.baseinfo-hd .carousel-indicators {
	left: 0;
	margin-left: 0;
	bottom: -80px;
	text-align: left;
	width: 100%;
	margin-bottom: 0;
}
.baseinfo-hd .carousel-indicators li {
	text-indent: 0;
	width: auto;
	height: 66px;
	background: #fff;
	border-radius: 0;
	margin: 0;
}
.baseinfo-hd .carousel-indicators .active {
	width: auto;
	height: 66px;
	background: #f5f5f5;
}
.baseinfo-hd .carousel-indicators li img {
	height: 100%;
}
#hs_sidebar {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding-bottom: 80px;
    font-size: 16px;
}
#avatar {
    text-align: center;
    margin: 30px 0 20px 0;
    height: 160px;
}
#avatar_container {
    display: inline-block;
    width: 152px;
    height: 160px;
    position: relative;
}
#avatar_container img {
    width: 152px;
    height: 160px;
}
#avatar_container div {
    background-image: url('http://static.zzkcdn.com/@/images/common/opacity/black0.4.png');
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
#avatar_container div p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 2em;
    font-weight: bold;
    margin-bottom: 0;
}
#service_lang {
    margin-bottom: 20px;
    height: 16px;
}
#service_lang p, #service_lang p b {
    font-size: 16px;
    line-height: 1em;
    color: #7e7c7c;
}
#service_lang p b {
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1em;
}
#sidebar_line4 {
    margin-bottom: 15px;
}
#sidebar_line4 div {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
#sidebar_line4 span {
    margin-bottom: 10px;
}
#sidebar_line4 label {
    display: block;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
}
#sidebar_line4 p {
    display: block;
    font-size: 14px;
    color: #999;
    text-align: center;
}
.icon-reload-large {
    background-image: url('http://pages.zizaike.com/a/img/newicon/coding_room/reply.png');
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
.icon-calender-large {
    background-image: url('http://pages.zizaike.com/a/img/newicon/coding_room/calender.png');
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
#last_order {
    height: 16px;
    margin-bottom: 25px;
    text-align: center;
}
#last_order p, #last_order p b {
    font-size: 16px;
    line-height: 1em;
}
#last_order p {
    color: #898787;
}
#homestay_action a {
    /*width: 150px;*/
}
#homestay_action a:hover {
    text-decoration: none;
}
.btn-huge {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}
#homestay_action .btn-red-huge {
    margin-bottom: 20px;
}
.btn-red-huge {
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-red-huge-left.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-huge span {
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-right: 30px;
}
.btn-red-huge span {
    color: #ffffff;
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-red-huge-right.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.btn-white-huge {
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-white-huge-left.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-white-huge span {
    color: #f35758;
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-white-huge-right.png');
    background-repeat: no-repeat;
    background-position: right center;
}
#homestay_action {
	padding-bottom: 20px;
}
.navbar-wrap, .navbar-wrap-full {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #dcdcdc;
}
#navbar li a {
    text-decoration: none;
    display: inline-block;
    height: 48px;
    line-height: 50px;
    font-size: 20px;
    color: #1c1c1b;
}
#navbar li a.active {
    color: #f35758;
    height: 48px;
    border-color: #f35758;
    border-style: solid;
    border-width: 0 0 1px 0;
}
.navbar-wrap {
	margin-top: 20px;
}
.navbar-wrap li {
	text-align: center;
}
.room_section {
    padding: 20px 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #dcdcdc;
}
.room_pic {

}
.room_pic img {
    width: 100%;
    height: 200px;
}
.room_info {
    padding: 5px 15px;
}
#roomlist div {
    margin-bottom: 12px;
}
.roominfo_line1 a {
    display: inline;
    text-decoration: none;
}
#roomlist h3 {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    line-height: 1em;
    color: #161616;
    margin: 0 10px 0 0;
}
.room_order {
    text-align: center;
    padding-top: 35px;
}
.room_order p {
    text-align: center;
}
.price-default, .price-default em {
    font-size: 16px;
    height: 34px;
    color: #1c1b1b;
}
.price-default b {
    font-size: 32px;
    line-height: 1em;
        color: #f35758;
    font-style: normal;
}
.room_order a {
    width: 120px;
    margin-top: 40px;
    text-decoration: none;
}
.btn-big {
    display: inline-block;
    text-decoration: none;
    padding-left: 21px;
}
.btn-gray-big {
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-gray-big-left.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-big span {
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    padding-right: 21px;
}
.btn-gray-big span {
    color: #bcbbbb;
    background-image: url('http://static.zzkcdn.com/@/images/icons/btn-gray-big-right.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.btn-yellow-white-big {
    background-image: url("http://static.zzkcdn.com/@/images/icons/btn-yellow-white-big-left.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.btn-yellow-white-big span {
    background-image: url("http://static.zzkcdn.com/@/images/icons/btn-yellow-white-big-right.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #f59c00;
}
.room_order a .btn-big-auto-width{
	width:auto;
}

