{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/common.js"></script>
    <style type="text/css">
    </style>
{% endblock %}
{% block banner %}
    	<!-- 名宿头部ms-hd开始 -->
		<div class="ms-hd">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><img src="/static/images/ms_logo.png" width="120" height="50"/></a>
			       <form class="form-inline pull-left">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					    <div class="input-group">
					      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					      <input type="text" class="form-control" id="exampleInputAmount" placeholder="想去哪里？">
					    </div>
					  </div>
					</form>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			      	<li class="dropdown">
			          <a href="#" class="first-A dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="btn begin-fd">成为房东</span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#"><span>如何出租房源</span></a></li>
			            <li><a href="#"><span>发布空间</span></a></li>
			            <li><a href="#"><span>看看你在杭州能赚多少钱</span></a></li>
			          </ul>
			       </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">帮助</span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#"><span>入门指南</span></a></li>
			            <li><a href="#"><span>预订的价格是如何计算的？</span></a></li>
			            <li><a href="#"><span>Airbnb是如何处理付款的？</span></a></li>
			            <li><a href="#"><span>房东可以更改预订吗？</span></a></li>
			            <li role="separator" class="divider"></li>
			            <li class="li-help"><a href="#">帮助中心</a></li>
			          </ul>
			        </li>
			        <li><a href="#" data-toggle="modal" data-target="#myModalZC">注册</a></li>
			        <li><a href="#" data-toggle="modal" data-target="#myModalDL">登录</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModalZC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">注册</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="邮箱">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">电话</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="tel" placeholder="电话">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="password" placeholder="密码">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="rePassword" placeholder="确认密码">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox">同意<a href="">中国名宿网的相关规则</a>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-danger">注册</button>
						</div>
					</div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModalDL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">登录</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal" role="form" id="ho_login">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">账号</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="u_account" placeholder="账号">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="u_password" placeholder="密码">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" >记住账号
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" id="userLogin">登录</button>
						</div>
					</div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
		<script>


		</script>
		<!-- 名宿banner区ms-banner结束 -->
{% endblock %}
{% block lbt %}
    <!-- 轮播图开始 -->
	<div class="ms-lbt">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <img src="/static/images/banner01.jpg" alt="">
			      <div class="carousel-caption">
			        <h1> 去旅行，去生活，哪怕就住一晚。</h1>
			      </div>
			    </div>
			    <div class="item">
			      <img src="/static/images/banner02.jpg" alt="">
			      <div class="carousel-caption">
			        <h1>1去旅行，去生活，哪怕就住一晚。</h1>
			      </div>
			    </div>
                <div class="item">
			      <img src="/static/images/banner03.jpg" alt="">
			      <div class="carousel-caption">
			        <h1>1去旅行，去生活，哪怕就住一晚。</h1>
			      </div>
			    </div>
			  </div>
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
		</div>
	</div>
	<!-- 轮播图结束 -->
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
	<div class="ms-main">
			<div class="container">
				<div class="main-item">
					<div class="main-title text-center">
						<h2 class="row-space-1">
				          <strong>探索世界</strong>
				        </h2>
				        <p class="text-lead">
				          搜罗全球热门目的地
				        </p>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							       <p class="ms-dd"><strong>北京</strong></p>
							    </a>
						    </div>
						</div>
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							       <p class="ms-dd"><strong>北京</strong></p>
							    </a>
						   </div>
						</div>
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							       <p class="ms-dd"><strong>北京</strong></p>
							    </a>
						   </div>
						</div>
					</div>
				</div>

				<div class="main-item">
					<div class="main-title text-center">
						<h2 class="row-space-1">
				          <strong>房源</strong>
				        </h2>
				        <p class="text-lead">
				          好房源
				        </p>
					</div>
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">热门房源</a></li>
				    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">特色房源</a></li>
				    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">金牌推荐</a></li>
				  </ul>
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="home">
				    	<div class="row">
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="profile">
				    	<div class="row">
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京2</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>
				    </div>
				    <div role="tabpanel" class="tab-pane" id="messages">
				    	<div class="row">
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京3</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-6">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
							<div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							    <div class="ms-pic-box">
									<a href="#" class="ms-pic">
								      <img src="/static/images/pic02.jpg" alt="...">
								       <p class="ms-dd"><strong>北京</strong></p>
								    </a>
							    </div>
							</div>
						</div>
				    </div>
				  </div>
				</div>
				<div class="main-item">
					<div class="main-title">
						<h2 class="row-space-1">
				          <strong>加入上百万来自中国的小朋友</strong>
				       </h2>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							    </a>
							     <h2 class="ms-bt"><a href=""><strong>为了这一眼极光，再长的等待也值了</strong></a></h2>
							    <p class="ms-nr">旅行故事</p>
						    </div>
						</div>
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							    </a>
							     <h2 class="ms-bt"><a href=""><strong>为了这一眼极光，再长的等待也值了</strong></a></h2>
							    <p class="ms-nr">旅行故事</p>
						   </div>
						</div>
						<div class="col-sm-4">
							<div class="ms-pic-box">
								<a href="#" class="ms-pic">
							      <img src="/static/images/pic02.jpg" alt="...">
							    </a>
							    <h2 class="ms-bt"><a href=""><strong>为了这一眼极光，再长的等待也值了</strong></a></h2>
							    <p class="ms-nr">旅行故事</p>
						   </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 主体结束 -->
{% endblock %}

{% block footer %}
    <!-- 底部开始 -->
	<div class= "ms-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
				</div>
				<p class= "ms-copyright">Copyright 2016 www.mschina.cn All Rights Reserved</p>
			</div>
		</div>
	<!-- 底部结束 -->
{% endblock %}



