<!DOCTYPE html>
<html>
	<head>
		<meta charset= "utf-8" />
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0">
		<title>中国名宿网</title>
		<link rel="stylesheet" href="../style/bootstrap.css">
		<link rel="stylesheet" href="../style/ms.css">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="../js/jquery-1.12.1.min.js"></script>
		<script src="../js/bootstrap.js"></script>
	</head>
	
	<body>
		<!-- 名宿头部ms-hd开始 -->
		<div class="ms-hd">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><img src="../images/logo.png" /></a>
			       <form class="form-inline pull-left">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					    <div class="input-group">
					      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					      <input type="text" class="form-control" id="exampleInputAmount" placeholder="想去哪里？">
					    </div>
					  </div>
					</form>
			    </div>
				
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			      	<li class="dropdown">
			          <a href="#" class="first-A dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="btn begin-fd">成为房东</span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#"><span>如何出租房源</span></a></li>
			            <li><a href="#"><span>发布空间</span></a></li>
			            <li><a href="#"><span>看看你在杭州能赚多少钱</span></a></li>
			          </ul>
			       </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">帮助</span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#"><span>入门指南</span></a></li>
			            <li><a href="#"><span>预订的价格是如何计算的？</span></a></li>
			            <li><a href="#"><span>Airbnb是如何处理付款的？</span></a></li>
			            <li><a href="#"><span>房东可以更改预订吗？</span></a></li>
			            <li role="separator" class="divider"></li>
			            <li class="li-help"><a href="#">帮助中心</a></li>
			          </ul>
			        </li>
			        <li><a href="#">注册</a></li>
			        <li><a href="#">登录</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
		<script>
			$(document).ready(function(){
				$(document).off('click.bs.dropdown.data-api');
				dropdownOpen();//调用
			});
			/**
			 * 鼠标划过就展开子菜单，免得需要点击才能展开
			 */
			function dropdownOpen() {
			
				var $dropdownLi = $('li.dropdown');
			
				$dropdownLi.mouseover(function() {
					$(this).addClass('open');
				}).mouseout(function() {
					$(this).removeClass('open');
				});
			}
		</script>
		<!-- 名宿banner区ms-banner结束 -->
		
		<!-- 主体开始 -->
		<div class="PC-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 hide-sm">
						<div class="PCM-pic">
							<img src="../images/pic04.jpg" />
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading">已验证身份</div>
						  <div class="panel-body">
						  		<ul class="PCM-panel">
						  			<li class="clearfix"><span class="glyphicon glyphicon-ok-circle pull-left"></span>
						  				<div class="PCM-panel-nr pull-left">
						  					<p>电子邮件地址</p>
						  					<p>已验证</p>
						  				</div>
						  			</li>
						  			<li class="clearfix"><span class="glyphicon glyphicon-ok-circle pull-left"></span>
						  				<div class="PCM-panel-nr pull-left">
						  					<p>电话号码</p>
						  					<p>110</p>
						  				</div>
						  			</li>
						  			<li class="clearfix"><span class="glyphicon glyphicon-ok-circle pull-left"></span>
						  				<div class="PCM-panel-nr pull-left">
						  					<p>Facebook</p>
						  					<p>1152个好友</p>
						  				</div>
						  			</li>
						  			<li class="clearfix"><span class="glyphicon glyphicon-ok-circle pull-left"></span>
						  				<div class="PCM-panel-nr pull-left">
						  					<p>已被评价</p>
						  					<p>142条评价</p>
						  				</div>
						  			</li>
						  			<li class="clearfix"><span class="glyphicon glyphicon-ok-circle pull-left"></span>
						  				<div class="PCM-panel-nr pull-left">
						  					<p>线下身份</p>
						  					<p>驾驶证</p>
						  				</div>
						  			</li>
						  		</ul>
						    	
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">关于我</h3>
						  </div>
						  <div class="panel-body">
							<ul>
								<li>
									<h6><strong>学校</strong></h6>
									<p>Andino, UCLA</p>
								</li>
								<li>
									<h6><strong>语言</strong></h6>
									<p>English, Español</p>
								</li>
							</ul>
						  </div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-sm-12">
						<h1>您好, 我是Wendy！</h1>
						<div class="h5">
				            <a href="/s/Beverly-Hills--CA" class="link-reset">比佛利山, 加利福尼亚, 美国</a> ·  <span class="text-normal">注册时间：2012年8月</span>
				        </div>
				        <p class="PCM-signature">
				        	Hi, Im from South America living in LA, Love Traveling to hidden nice places and explore life... Eternally in love with nature.
				        </p>
				        <div class="PCM-photo">
				        	<div class="row">
				        		<div class="col-lg-3 col-md-6">
				        			<img src="../images/pic02.jpg" class="photo-pic" />
				        		</div>
				        		<div class="col-lg-3 col-md-6">
				        			<img src="../images/pic02.jpg" class="photo-pic" />
				        		</div>
				        		<div class="col-lg-3 col-md-6">
				        			<img src="../images/pic02.jpg" class="photo-pic" />
				        		</div>
				        		<div class="col-lg-3 col-md-6">
				        			<a href=""><img src="../images/pic02.jpg" class="photo-pic" /></a>
				        		</div>
				        	</div>
				        </div>
				        <h2 class="PCM-pj-name">房客评价<small>(141)</small></h2>
				        <div class="PCM-pj">
				        	<div class="pj-box">
				        		<h4 class="pj-title"></h4>
				        		<div class="pj-reviews">
				        			<div class="row">
				        				<div class="col-md-2 col-sm-12">
				        					<a href="" class="pj-pic text-center">
				        						<img src="../images/banner.jpg"  />
				        						<p>Carlos</p>
				        					</a>
				        				</div>
				        				<div class="col-md-10 col-sm-12">
				        					<div class="pj-nr">
				        						<p>Best location in Chicago right in the Theatre District, a few blocks from Magnificent Mile, Cloud Gate and the top restaurants in town.  The room was very clean and Wendy included 6 towels as offered.  Seven eleven is in the corner for any emergency snack.</p>
				        					</div>
				        					<div class="pj-time">
				        						 来自<a href="" class="link-reset">Ecuador</a> · 2016年6月
				        					</div>
				        				</div>
				        			</div>
				        			<div class="row">
				        				<div class="col-md-2 col-sm-12">
				        					<a href="" class="pj-pic text-center">
				        						<img src="../images/banner.jpg"  />
				        						<p>Carlos</p>
				        					</a>
				        				</div>
				        				<div class="col-md-10 col-sm-12">
				        					<div class="pj-nr">
				        						<p>Best location in Chicago right in the Theatre District, a few blocks from Magnificent Mile, Cloud Gate and the top restaurants in town.  The room was very clean and Wendy included 6 towels as offered.  Seven eleven is in the corner for any emergency snack.</p>
				        					</div>
				        					<div class="pj-time">
				        						 来自<a href="" class="link-reset">Ecuador</a> · 2016年6月
				        					</div>
				        				</div>
				        			</div>
				        			<div class="row">
				        				<div class="col-md-2 col-sm-12">
				        					<a href="" class="pj-pic text-center">
				        						<img src="../images/banner.jpg"  />
				        						<p>Carlos</p>
				        					</a>
				        				</div>
				        				<div class="col-md-10 col-sm-12">
				        					<div class="pj-nr">
				        						<p>Best location in Chicago right in the Theatre District, a few blocks from Magnificent Mile, Cloud Gate and the top restaurants in town.  The room was very clean and Wendy included 6 towels as offered.  Seven eleven is in the corner for any emergency snack.</p>
				        					</div>
				        					<div class="pj-time">
				        						 来自<a href="" class="link-reset">Ecuador</a> · 2016年6月
				        					</div>
				        				</div>
				        			</div>
				        			<div class="row">
				        				<div class="col-md-2 col-sm-12">
				        					<a href="" class="pj-pic text-center">
				        						<img src="../images/banner.jpg"  />
				        						<p>Carlos</p>
				        					</a>
				        				</div>
				        				<div class="col-md-10 col-sm-12">
				        					<div class="pj-nr">
				        						<p>Best location in Chicago right in the Theatre District, a few blocks from Magnificent Mile, Cloud Gate and the top restaurants in town.  The room was very clean and Wendy included 6 towels as offered.  Seven eleven is in the corner for any emergency snack.</p>
				        					</div>
				        					<div class="pj-time">
				        						 来自<a href="" class="link-reset">Ecuador</a> · 2016年6月
				        					</div>
				        				</div>
				        			</div>
				        		</div>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- 主体结束 -->
		
		<!-- 底部开始 -->
		<div class= "ms-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
					<div class="col-sm-6 col-md-3">
						<dl class= "ft-item">
							<dt>公司信息</dt>
							<dd><a href= "">关于</a></dd>
							<dd><a href= "">工作机会</a></dd>
							<dd><a href= "">新闻</a></dd>
							<dd><a href= "">博客</a></dd>
							<dd><a href= "">帮助</a></dd>
							<dd><a href= "">政策</a></dd>
							<dd><a href= "">灾难响应</a></dd>
							<dd><a href= "">条款与隐私</a></dd>
						</dl>
					</div>
				</div>
				<p class= "ms-copyright">Copyright 2008-2016 www.wjy360.com All Rights Reserved 浙B2-20100360-12</p>
			</div>
		</div>
		<!-- 底部结束 -->
	</body>
</html>