<!-- 普通页面的模板 -->
<html lang="utf-8">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - msChina</title>
        <meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/ms.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/static/js/jquery-1.12.1.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/layer/layer.js"></script>
    {% endblock %}
</head>
<body>
    {% block banner %}
        <!-- 名宿头部ms-hd开始 -->
		<div class="ms-hd">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><img src="static/images/ms_logo.png" width="120" height="50"/></a>
			       <form class="form-inline pull-left">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					    <div class="input-group">
					      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
					      <input type="text" class="form-control" id="exampleInputAmount" placeholder="想去哪里？">
					    </div>
					  </div>
					</form>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span>帮助</span></a>
			          <ul class="dropdown-menu">
			            <li class="li-help"><a href="#">帮助中心</a></li>
                          <li><a href="#"><span>sdfsdf</span></a></li>
			          </ul>
			       </li>
                      {% if login_user %}
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  <span class="">欢迎您:{{ login_user }}</span></a>
                              <ul class="dropdown-menu">
                                <li><a href="/manage_center/house_default"><span>房源管理</span></a></li>
                                <li><a href="/manage_center/house_default"><span>个人信息管理</span></a></li>
                                <li><a href="" class="li-help" id="user_log_out">退出登录</a></li>
                              </ul>
                           </li>
                      {% else %}
                          <li><a href="/register"  data-target="">注册</a></li>
                          <li><a href="/login" data-target="">登录</a></li>
                      {% endif %}
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
		<!-- 名宿banner区ms-banner结束 -->
    {% endblock %}
    {% block lbt %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        <!-- 底部开始 -->
        <div class= "ms-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>帮助中心</dt>
                                <dd><a href= "">加入我们</a></dd>
                                <dd><a href= "">成为房东</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>关于我们</dt>
                                <dd><a href= "">关于我们</a></dd>
                                <dd><a href= "">网站地图</a></dd>
                                <dd><a href= "">服务声明</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>联系我们</dt>
                                <dd><a href= "">QQ:</a></dd>
                                <dd><a href= "">TEL:</a></dd>
                                <dd><a href= "">E-MAIL:</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>合作伙伴</dt>
                                <dd><a href= "">xxx</a></dd>
                            </dl>
                        </div>
                    </div>
                    <p class= "ms-copyright">Copyright 2016 www.mschina.cn All Rights Reserved</p>
                </div>
            </div>
        <!-- 底部结束 -->
    {% endblock %}
</body>
</html>
{% block script %}
    <script type="text/javascript">
    $(function () {
        $("#user_log_out").click(function () {
            $.ajax({url: "/do_logout",
                type: 'POST',
                data: JSON.stringify({}),
                contentType: "application/json",
                success:function (data) {
                    var data = JSON.parse(data);
                    if(data.code == 0){
                        alert("退出失败");
                    }else if(data.code == 1){
                        layer.msg("成功推出");
                        location.href = "/index";
                    }
                }
            });
        });
    });
    </script>
{% endblock %}