{% extends "base.html" %}
{% block title %}房源详情页-中国名宿网{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/room_detail.css">

	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css?v=2.1.2" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox-buttons.css?v=1.0.5" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox-thumbs.css?v=1.0.7" />

{% endblock %}
{% block content %}
		<!--======主要内容=========-->
		<div class="wrapper">
            <input type="hidden" id="hid_user_id" value="{{ user_id }}"/>
            <input type="hidden" id="hid_hs_id" value="{{ entity.hs_id }}"/>
			<div class="breadcrumb_wrapper" >
				<ol class="breadcrumb">
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="/room">民宿</a>
					</li>

					<li>
						<a href="/search/c12052" title="湖州民宿">
                            湖州民宿
						</a>
					</li>
					<li>
						<a href="/h/429951" title="{{ entity.hs_name }}">{{ entity.hs_name }}</a>
					</li>
			</ol>
		</div>
			<!--====baseinfor=======-->
			<div class="baseinfo_wrapper">
				<div class="baseinfo">
					<div class="line1">
						<h3>{{ entity.hs_name }}</h3>
						<span class="icon-large icon-certified-large"></span>
						<span class="icon-large icon-thunder-book-large"></span>
{#						<div class="price-large"><b>{{ item.gr_price }}</b>元起</div>#}
					</div>

					<div class="line2">
						<p><span class="icon icon-position"></span>德清 仙潭村蒋家竹园 ，近115乡道</p>
					</div>

					<div class="line4" >
						<div class="hs_slide_container">
							<div class="slideouter">
							    <div class="sliderwrapper">
									<ul class="hs_slide">
										<li>
                                            {% for image in images %}
                                                <a class="fancybox" href="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                                    <img src="{{ entity.hs_images }}"  alt="" />
                                                </a>
                                            {% endfor %}
										</li>
										<li>
											<a class="fancybox" href="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp">
												<img src="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg"  alt="" />
											</a>
										</li>
										<li>
											<a class="fancybox" href="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon">
												<img src="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg"  alt="" />
											</a>
										</li>
										<li>
											<a class="fancybox" href="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno">
												<img src="http://img1.zzkcdn.com/3y38262651e9671b54a7db30982daae4/2000x1500.jpg-homepic800x600.jpg"  alt="" />
											</a>
										</li>
									</ul>
							    </div>
							  </div>
						</div>
						<!--====homestay_summary民宿简介=====-->
							<div class="homestay_summary_wrapper">
								<div class="body-section">
									<div class="avatar_container">
										<img  src="../images/userphoto.jpg"/>
										<div><p>{{ entity.user_headimg }}</p></div>
									</div>

									<div class="homestay_summary">
										<!--<a class="anchor" id="anchor_homestay_summary"></a>-->
										<!--<h3>民宿简介</h3>-->
										<!--<p class="time">注册时间 2015-10-21</p>-->
										<div id="aboutme">
											<div class="origin">
												<p>
													{{ entity.hs_intro }}
												</p>
												<br />
												<p></p>
												<br />
											</div>

										</div>
									</div>

									<!--<div class="homestay_action">-->
										<!--<a href="###" class="btn-huge btn-red-huge"><span>免费申请预订</span></a>-->
									<!--</div>-->
								</div>
							</div>
					</div>

				</div>
				<div class="tabselect">
					<!--=====room_select=======-->
					<div id="room_select_wrapper" class="wrapper">
						<div class="room_select">
							<!--<form class="date_select" action="#">-->
									<!--<input type="text" id="start_day" name="" class="input input-default small-room-calendar  hasDatepicker"  value="2016-07-13" />&nbsp;-->

									<!-- -<input type="text" id="end_day" name="" class="input input-default small-room-calendar  hasDatepicker" value="2016-07-14"  />-->

									<!--<button class="btn btn-default btn-blue" type="submit">确定</button>-->
							<!--</form>-->
							<div class="roomlist">
                                {% if roomlist %}
                                    {% for item in roomlist %}
                                        <div id="room_section">
                                            <div class="room_pic">
                                                <a href="###"><img src="../images/roompic.jpg"/></a>
                                            </div>
                                            <div class="room_info">
                                                <div class="roominfo_line1">
                                                    <a href="###"><h3>{{ item.gr_name }}</h3></a>
                                                    <span class="icon-large icon-thunder-book-large"></span>
                                                </div>
                                                <div class="roominfo_line2">
                                                    <a href="###">查看房间详情</a>
                                                </div>
                                                <div class="roominfo_line3 score score-default">
                                                    <span class="icon icon-star-off"></span>
                                                    <span class="icon icon-star-off"></span>
                                                    <span class="icon icon-star-off"></span>
                                                    <span class="icon icon-star-off"></span>
                                                    <span class="icon icon-star-off"></span>
                                                    <p class="score">暂无评论</p>
                                                </div>
                                                <div class="roominfo_line4">
{#                                                    <label>房间面积:</label><span><b>{{ item.gr_room_area }}<sup>2</sup></b></span>#}
{#                                                    <label>床型信息:</label><span><b>{{ item.gr_bed_type }}</b>（2张）</span>#}
{#                                                    <label>最多入住:</label><span><b>{{ item.gr_room_type }}</b></span>#}
                                                </div>
                                                </div>
                                                <div class="room_order">
                                                    <p class="price price-default">
{#                                                        <b>{{ item.gr_price }}</b>元起<em></em>#}
                                                    </p>
                                                    <a href="###" class="btn-big btn-red-white-big"><span>免费申请预订</span></a>
                                                </div>
                                            </div>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
								</div>
							</div>
						</div>
						<div class="body-strip lookMore">
								<p>
									<span class="icon icon-triangle-bottom"></span>
									<span class="text_show">查看全部</span>
                                    <span class="hide text_hide" style="display: none;">收起</span>房间<b>(11)</b>
								</p>
						</div>
					</div>
			</div>
		</div>
{% endblock %}
{% block script %}
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.6.pack.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fancybox-thumbs.js"></script>
	<script type="text/javascript" src="/static/js/jquery.fancybox-media.js"></script>
	
	<script>
        $(function() {
            var roomlist_more = "hide";
            $(".fancybox").fancybox();
            $(".lookMore").click(function(){
                if(roomlist_more == "hide"){
                    $(".roomlist div.hide").show();
                    $(".lookMore span.text_show").hide();
                    $(".lookMore span.text_hide").show();
                    $(".lookMore .icon").removeClass("icon-triangle-bottom");
                    $(".lookMore .icon").addClass("icon-triangle-top");
                    roomlist_more = "show";
                }
                else{
                    $(".roomlist div.hide").hide();
                    $(".lookMore span.text_show").show();
                    $(".lookMore span.text_hide").hide();
                    $(".lookMore .icon").removeClass("icon-triangle-top");
                    $(".lookMore .icon").addClass("icon-triangle-bottom");
                    roomlist_more = "hide";
                    window.location.href="#anchor_room_select";
                }


            });
        });
{#    function load_all_rooms_by_hs_id(frmWhichPage,hs_id){#}
{#        myArray=[];#}
{#        $.ajax({#}
{#            url:"/manager_center/get_all_rooms_by_hs_id",#}
{#            type:"post",#}
{#            data:JSON.stringify({"hs_id":$("#hid_hs_id").val()}),#}
{#            contentType:"application/json",#}
{#            success:function(data){#}
{#                if(data.code == 1){#}
{#                    myArray = data.message;#}
{#                    if(myArray.length>0){#}
{#                        var default_hs_id = 0;#}
{#                        for(i=0;i<myArray.length;i++){#}
{#                            item = myArray[i];#}
{#                            if(frmWhichPage >= 3){#}
{#                                if(i == 0){#}
{#                                    default_hs_id = item.hs_id;#}
{#                                }#}
{#                            }#}
{#                        }#}
{#                    }#}
{#                }#}
{##}
{##}
{#            }#}
{##}
{#        });#}
{#    }#}
    </script>
{% endblock %}
