<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/assets/css/croppic.css" rel="stylesheet">
    <style>
        #cropContaineroutput {
            margin: 20px auto;
            width:250px; height:200px;
			position:relative; /* or fixed or absolute */
            border:1px solid #ccc;
		}
        .croppedImg{
            width: 250px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div style="width: 300px;height: 300px; margin: 20px auto">
		<div id="cropContaineroutput"></div>
		<input type="text" id="cropOutput" style="width:220px; padding:5px 4%; margin-top:10px;display:block; border: 1px solid #CCC;" />
	</div>
</body>
</html>
<script src=" https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/static/assets/js/croppic.js"></script>
{#<script src="/static/assets/js/jquery.mousewheel.min.js"></script>#}
<script>

    var croppicContaineroutputOptions = {
				uploadUrl:'uploadPic',
				cropUrl:'cropPic',
				outputUrlId:'cropOutput',
				modal:false,
				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
				onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
				onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
				onImgDrag: function(){ console.log('onImgDrag') },
				onImgZoom: function(){ console.log('onImgZoom') },
				onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
				onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
				onReset:function(){ console.log('onReset') },
				onError:function(errormessage){ console.log('onError:'+errormessage) }
		}
    var cropContaineroutput = new Croppic('cropContaineroutput', croppicContaineroutputOptions);



</script>