{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/common.js"></script>
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
    <div class="ms-main clearfix">
		<div class="container">
			<div class="main-item">
                <div class="ms-list-box">
                    <!--行开始-->
                <div class="row">
                    {% for item in entities %}
                        <div class="col-sm-3">
                            <div class="ms-pic-box">
                                <a href="#" class="ms-pic">
                                    <img class="img-responsive" src="{{ item.hs_images }}" alt="...">
                                    <p class="ms-dd"><strong>{{ item.hs_province }}</strong></p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    <!--行结束-->
                    <nav class="text-center">
                        {{ pagination.links }}
                    </nav>
                </div>
            </div>
		</div>
	</div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
{% endblock %}



