{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/common.js"></script>
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
    <div class="ms-main clearfix">
		<div class="container">
			<div class="main-item">
                <div class="ms-list-box">
                    <!--行开始-->
                    {% for item in entities %}

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="ms-pic-box">
                                <a href="#" class="ms-pic">
                                    <img class="img-responsive" src="../images/pic02.jpg" alt="...">
                                    <p class="ms-dd"><strong>北京</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ms-pic-box">
                                <a href="#" class="ms-pic"><img src="../images/pic02.jpg" alt="..."><p class="ms-dd"><strong>北京</strong></p></a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="ms-pic-box">
                                <a href="#" class="ms-pic">
                                    <img src="../images/pic02.jpg" alt="...">
                                    <p class="ms-dd"><strong>北京</strong></p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3">
								<div class="ms-pic-box">
									<a href="#" class="ms-pic">
										<img src="../images/pic02.jpg" alt="...">
										<p class="ms-dd"><strong>北京</strong></p>
									</a>
								</div>
						</div>
                    </div>
                    {% endfor %}
                    <!--行结束-->
                    <nav class="text-center">
                        {{ pagination.links }}
                    </nav>
                </div>
            </div>
		</div>
	</div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
{% endblock %}



