{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/common.js"></script>
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
    <div class="logreg-mian container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="login-box">
						<div class="page-header clearfix">
							<h4 class="pull-left">名宿自由者</h4>
							<a href="/register" class="pull-right login-yhzc">用户注册></a>
						</div>
						<div class="form-group form-group-lg">
							<div class="input-group">
							  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
							  <input type="text" class="form-control" id="username-input" placeholder="登录账户">
							</div>
						</div>
						<div class="form-group form-group-lg">
							<div class="input-group">
							  <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
							  <input type="password" class="form-control" id="pwd-input" placeholder="请输入密码">
							</div>
						</div>
						<button class="btn btn-login btn-default" id="login-btn" type="submit">登录</button>
					</div>
				</div>
			</div>
		</div>
    <!-- 主体结束 -->
{% endblock %}
{% block script %}
    <script>
$(function(){
    $("#username-input").blur(function () {
        ms_login_check_name();
    });

    $("#pwd-input").blur(function () {
        ms_login_check_password();
    });

    $("#login-btn").click(function () {
        var user_account = $("#username-input").val();
        var user_password = $("#pwd-input").val();
        $.ajax({
            url:"/do_login",
            type: 'POST',
            data: JSON.stringify({"user_account":user_account,"user_password":user_password}),
            contentType: 'application/json',
            success: function(response){
                var response = JSON.parse(response);
                if(response.code==1){
                    alert(response.message);
                    location.href="/index";
                }
            }
        });
        return false;
    });
});
</script>
{% endblock %}



