{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/common.js"></script>
{% endblock %}
{% block content %}
    <!-- 主体开始 -->
    <div class="logreg-mian container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="register-box">
						<div class="form-horizontal">
							<div class="page-header clearfix">
								<h4 class="pull-left">房东注册</h4>
								<div class="pull-right reg-login">
									<span>已是会员</span>
									<a href="" class="login-yhzc">登录</a>
								</div>
							</div>
                            <div class="form-group">
								  <label for="" class="col-sm-3 col-lg-2 control-label">姓名</label>
								  <div class="col-sm-9 col-lg-10">
								  	<input type="text" id="ho_name" class="text-left reg-ipt" placeholder="姓名">
								  </div>
							</div>
                            <div class="form-group">
								  <label for="" class="col-sm-3 col-lg-2 control-label">email</label>
								  <div class="col-sm-9 col-lg-10">
								  	<input type="text" id="ho_email" class="text-left reg-ipt" placeholder="email">
								  </div>
							</div>
                            <div class="form-group">
								  <label for="" class="col-sm-3 col-lg-2 control-label">家庭电话</label>
								  <div class="col-sm-9 col-lg-10">
								  	<input type="text" id="ho_tel" class="text-left reg-ipt" placeholder="家庭电话">
								  </div>
							</div>
							<div class="form-group">
							  <label for="" class="col-sm-3 col-lg-2 control-label">身份证</label>
							  <div class="col-sm-9 col-lg-10 msMagND-txt">
								<div class="form-group">
{#									<div class="upFile up-idCard-box">#}
{#                                        <div id="cropContaineroutput"></div>#}
{#		                                <input type="hidden" id="cropOutput" class="text-left reg-ipt" required="required" placeholder="身份证地址" style="width: 330px;"/>#}
{#									</div>#}
								</div>
							  </div>
							</div>
                            <div class="form-group">
						      	<div class="checkbox text-left col-sm-offset-3 col-lg-offset-2 reg-check">
						        	<label>
						          		<input type="checkbox"> 我已阅读并接受"<a href= "">名宿服务条款</a>"
						        	</label>
						     	 </div>
						  	</div>
						  	<div class="form-group">
						  		<div class="col-xs-12 col-md-4 col-sm-offset-3  col-lg-offset-2">
						  			<button class="btn btn-login btn-reg" type="button" onclick="click()">注册</button>
						  		</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <!-- 主体结束 -->
{% endblock %}
{% block script %}
    <script type="text/javascript">


    $(".btn-reg").click(function () {
        var ho_name = $("#ho_name").val();
        var ho_email = $("#ho_email").val();
        var ho_tel = $("#ho_tel").val();
{#        var ho_nicard = $("#cropOutput").val();#}

        if (!ho_name) {
            layer.msg("请填写真实姓名");
        }

{#        if (!ho_nicard) {#}
{#            layer.msg("请上传证件照");#}
{#        }#}

        $.ajax({url: "/do_ho_register",
            type: 'POST',
            data: JSON.stringify({
                "ho_name": ho_name,
                "ho_email": ho_email,
                "ho_tel": ho_tel,
                "ho_nicard":ho_nicard
                }),
                contentType: "application/json",
                success:function (data) {
{#                    var data = JSON.parse(data);#}
                    if(data.code == 0){
                        layer.msg("注册失败");
                    }else if(data.code == 1){
                        //alert("注册成功");
                        location.href = "/index";
                    }
                }
            });

    });
    </script>
{% endblock %}
