{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/js/common.js"></script>
    <link href="../static/css/croppic.css" rel="stylesheet">
    <style>
    #cropContaineroutput {
            width:180px; height:150px;
			position:relative; /* or fixed or absolute */
            border:1px solid #ccc;
    }
    </style>
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
	<div class="logreg-mian container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="register-box">
						<form action="">
							<div class="form-horizontal">
								<div class="page-header clearfix">
									<h4 class="pull-left">游客注册</h4>
									<div class="pull-right reg-login">
										<span>已是会员</span>
										<a href="" class="login-yhzc">登录</a>
									</div>
								</div>
								<div class="form-group">
								  <label for="" class="col-sm-3 col-lg-2 text-right control-label">姓名</label>
								  <div class="col-sm-9 col-lg-10">
								  	
								  	<input type="text" id="user_account" class="text-left reg-ipt" required="required" placeholder="邮箱/手机号码">
								  
								  </div>
								</div>
								<div class="form-group">
									  <label for="" class="col-sm-3 col-lg-2 text-right control-label">密码</label>
									  <div class="col-sm-9 col-lg-10">
									  	<input type="text" id="password" class="text-left reg-ipt" required="required" placeholder="密码">
									  </div>
								</div>
								<div class="form-group">
									  <label for="" class="col-sm-3 col-lg-2 text-right control-label">手机号</label>
									  <div class="col-sm-9 col-lg-10">
									  	<input type="text" id="mobile" class="text-left reg-ipt regTel" required="required" placeholder="手机号">
									  </div>
								</div>
                            <div class="form-group">
							  <label for="" class="col-sm-3 col-lg-2 control-label">头像</label>
							  <div class="col-sm-9 col-lg-10 msMagND-txt">
								<div class="form-group">
									<div class="upFile up-idCard-box">
                                        <div id="cropContaineroutput"></div>
		                                <input type="text" id="cropOutput" disabled="disabled" class="text-left reg-ipt" required="required" placeholder="头像地址" style="width: 330px;"/>
{#										<input type="file" id="fileupload" name="file[]">#}
{#										<p class="btn sfz-btn">点击上传头像</p>#}
									</div>
								</div>
							  </div>
							</div>
								<div class="form-group">
							      	<div class="checkbox text-left col-sm-offset-3 col-lg-offset-2 reg-check">
							        	<label>
							          		<input type="checkbox"> 我已阅读并接受"<a href= "">名宿服务条款</a>"
							        	</label>
							     	 </div>
							  	</div>
							  	<div class="form-group">
							  		<div class="col-xs-12 col-sm-4 col-sm-offset-3  col-lg-offset-2">
							  			<button class="btn btn-login btn-reg" type="submit">立即注册</button>
							  		</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
    <script src="../static/js/croppic.js"></script>
    <script>

    var croppicContaineroutputOptions = {
				uploadUrl:'/crop_uploadPic',
				cropUrl:'/crop_cutPic',
				outputUrlId:'cropOutput',
				modal:false,
				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
				onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
				onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
				onImgDrag: function(){ console.log('onImgDrag') },
				onImgZoom: function(){ console.log('onImgZoom') },
				onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
				onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
				onReset:function(){ console.log('onReset') },
				onError:function(errormessage){ console.log('onError:'+errormessage) }
		}
    var cropContaineroutput = new Croppic('cropContaineroutput', croppicContaineroutputOptions);

    $('.btn-reg').on('click', function(){
        if($(".regTel").val() != "123") {
            layer.msg('手机号输入有误');
            return;
        }
	});

    $(".btn-reg").submit(function () {
        var user_account = $("#user_account").val();
        var user_password = $("#passord").val();
        var user_mobile = $("#mobile").val();
        var user_headimg = $("#cropOutput").val();
        if (!user_account) {
            alter("账号不能为空");
        }
        if (user_account.length < 6 || user_account.length > 16) {
            alter("账号长度大于6小于16");
        }
        if (!user_password) {
            alter("密码不能为空");
        }
        if (user_password.length < 6 || user_password.length > 16) {
            alter("密码长度大于6小于16");
        }
        if (!user_mobile) {
            alter("手机号不能为空");
        }
        if (user_mobile.length < 11) {
            alter("手机号不能小于11");
        }
        if (!/^(13|15|18|17[0-9]{9})$/.test(user_mobile)) {
            alter("手机号格式不正确");
        }
        $.ajax({url: "/do_user_register",
                data: JSON.stringify({"user_account": user_account,
                "password": user_password,
                "mobile": user_mobile,
                "cropOutput":user_headimg
                }),
                contentType: "application/json",
                success:function (data) {
                    if(data.code == 0){
                        alert("注册失败");
                    }else if(data.code == 1){
                        location.href = "/register03";
                    }
                }
            });

    });
    </script>
{% endblock %}
