{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/website/static/js/common.js"></script>
{% endblock %}

{% block content %}
    <!-- 主体开始 -->
    <div class="ms-reg">
			<div class="container">
				<div class="row">
					<!--左侧普通用户注册-->
					<div class="col-xs-12 col-sm-4 col-sm-offset-1">
						<div class="msRegBox">
							<div class="msRegBox-block">
								<h3 class="text-center">我是租客</h3>
								<div class="msRegBox-img">
									<img src= "http://static.zzkcdn.com/registerbg2.png" />
								</div>
								<ul class="msRegBox-ul">
									<li><span class="point">管理您的订房</span></li>
									<li><span class="point">与民宿发私信</span></li>
									<li><span class="point">入住后写点评</span></li>
									<li><span class="point">订阅每周资讯</span></li>
								</ul>
							</div>
						</div>
						<a class="msRegBox-A" href="/v2/register/user">游客注册</a>
					</div>
					<!--右侧房东注册-->
					<div class="col-xs-12 col-sm-4 col-sm-offset-2">
						<div class="msRegBox">
							<div class="msRegBox-block">
								<h3 class="text-center">我是房东</h3>
								<div class="msRegBox-img">
									<img src= "http://static.zzkcdn.com/registerbg2.png" />
								</div>
								<ul class="msRegBox-ul">
									<li><span class="point">受理在线订房</span></li>
									<li><span class="point">回答客人咨询</span></li>
									<li><span class="point">更新民宿信息</span></li>
									<li><span class="point">发布最新优惠</span></li>
								</ul>
							</div>
						</div>
						<a class="msRegBox-A" href="/v2/register/user">房东注册</a>
					</div>
				</div>
			</div>
		</div>
    <!-- 主体结束 -->
{% endblock %}




