{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/common.js"></script>
    <link href="/static/css/croppic.css" rel="stylesheet">
    <style>
    #cropContaineroutput {
            width:180px; height:150px;
			position:relative; /* or fixed or absolute */
            border:1px solid #ccc;
    }
    </style>
{% endblock %}

{% block  content %}
    <!-- 主体开始 -->
	<div class="logreg-mian container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="register-box">
						<div class="form-horizontal">
							<div class="page-header clearfix">
								<h4 class="pull-left">房东注册</h4>
								<div class="pull-right reg-login">
									<span>已是会员</span>
									<a href="" class="login-yhzc">登录</a>
								</div>
							</div>
							<div class="form-group">
								  <label for="" class="col-sm-3 col-lg-2 text-right control-label">账号</label>
								  <div class="col-sm-9 col-lg-10">

								  	<input type="text" id="user_account" class="text-left reg-ipt" required="required" placeholder="请输入账号">

								  </div>
								</div>
                            <div class="form-group">
									  <label for="" class="col-sm-3 col-lg-2 text-right control-label">密码</label>
									  <div class="col-sm-9 col-lg-10">
									  	<input type="password" id="user_password" class="text-left reg-ipt" required="required" placeholder="请输入密码">
									  </div>
								</div>
                            <div class="form-group">
									  <label for="" class="col-sm-3 col-lg-2 text-right control-label">手机号</label>
									  <div class="col-sm-9 col-lg-10">
									  	<input type="text" id="mobile" class="text-left reg-ipt regTel" required="required" placeholder="请输入手机号">
									  </div>
								</div>
                            <div class="form-group">
							  <label for="" class="col-sm-3 col-lg-2 control-label">头像</label>
							  <div class="col-sm-9 col-lg-10 msMagND-txt">
								<div class="form-group">
									<div class="upFile up-idCard-box">
                                        <div id="cropContaineroutput"></div>
		                                <input type="hidden" id="cropOutput"  class="text-left reg-ipt" required="required" placeholder="头像地址" style="width: 330px;"/>
									</div>
								</div>
							  </div>
							</div>

						  	<div class="form-group">
						  		<div class="col-xs-12 col-sm-4 col-sm-offset-3  col-lg-offset-2">
						  			<button class="btn btn-login btn_ho_reg" type="button">下一步</button>
						  		</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 主体结束 -->

{% endblock %}
{% block script %}
    <script src="../static/js/upload.js"></script>
    <script src="../static/js/croppic.js"></script>
    <script src="../static/js/register.js"></script>
{#    <script>#}
{#    var croppicContaineroutputOptions = {#}
{#				uploadUrl:'/crop_uploadPic',#}
{#				cropUrl:'/crop_cutPic',#}
{#				outputUrlId:'cropOutput',#}
{#				modal:false,#}
{#				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',#}
{#				onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },#}
{#				onAfterImgUpload: function(){ console.log('onAfterImgUpload') },#}
{#				onImgDrag: function(){ console.log('onImgDrag') },#}
{#				onImgZoom: function(){ console.log('onImgZoom') },#}
{#				onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },#}
{#				onAfterImgCrop:function(){ console.log('onAfterImgCrop') },#}
{#				onReset:function(){ console.log('onReset') },#}
{#				onError:function(errormessage){ console.log('onError:'+errormessage) }#}
{#		}#}
{#    var cropContaineroutput = new Croppic('cropContaineroutput', croppicContaineroutputOptions);#}
{##}
{##}
{#    $("#user_account").blur(function () {#}
{#         var user_account = $("#user_account").val();#}
{#         if (user_account != ""){#}
{#             $.ajax({#}
{#                url: "/check_user_account", type: 'POST',#}
{#                data: JSON.stringify({"user_account": user_account}),#}
{#                contentType: "application/json",#}
{#                success:function (data) {#}
{#                    if(data.code == 0){#}
{#                        layer.msg('该账号可以使用');#}
{#                    }else if(data.code == 1){#}
{#                        layer.msg('该账号已经存在,请换一个试试...');#}
{#                        this.focus();#}
{#                    }#}
{#                }#}
{#         });#}
{#         return false;#}
{#         }#}
{#    });#}
{##}
{#    $("#mobile").blur(function () {#}
{#        var user_mobile = $("#mobile").val();#}
{#         if (user_mobile != ""){#}
{#             $.ajax({#}
{#                url: "/check_user_mobile", type: 'POST',#}
{#                data: JSON.stringify({"user_mobile": user_mobile}),#}
{#                contentType: "application/json",#}
{#                success:function (data) {#}
{#                    if(data.code == 1){#}
{#                        layer.msg('该手机号已经存在,请换一个试试...');#}
{#                        this.focus();#}
{#                    }#}
{#                }#}
{#         });#}
{#         return false;#}
{#         }#}
{#    });#}
{##}
{##}
{#    $(".btn-reg").click(function () {#}
{#        var user_account = $("#user_account").val();#}
{#        var user_password = $("#user_password").val();#}
{#        var user_mobile = $("#mobile").val();#}
{#        var user_headimg = $("#cropOutput").val();#}
{#        var checklist = $(".checkbox .checked ");#}
{#        if (!user_account) {#}
{#            layer.msg("账号不能为空");#}
{#        }#}
{#        if (user_account.length < 6 || user_account.length > 16) {#}
{#            layer.msg("账号长度大于6小于16");#}
{#        }#}
{#        if (!user_password) {#}
{#            layer.msg("密码不能为空");#}
{#        }#}
{#        if (user_password.length < 6 || user_password.length > 16) {#}
{#            layer.msg("密码长度大于6小于16");#}
{#        }#}
{#        if (!user_mobile) {#}
{#            layer.msg("手机号不能为空");#}
{#        }#}
{#        if (user_mobile.length < 11) {#}
{#            layer.msg("手机号不能小于11");#}
{#        }#}
{##}
{#        if (!/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/.test(user_mobile)) {#}
{#            layer.msg("手机号格式不正确");#}
{#        }#}
{#        if (checklist <= 0){#}
{#            layer.msg("请同意条款");#}
{#            return false;#}
{#        }#}
{#        $.ajax({url: "/do_user_register",#}
{#                    type: 'POST',#}
{#                    data: JSON.stringify({#}
{#                        "user_account": user_account,#}
{#                        "user_password": user_password,#}
{#                        "user_mobile": user_mobile,#}
{#                        "user_headimg":user_headimg,#}
{#                        "user_type" :0#}
{#                        }),#}
{#                        contentType: "application/json",#}
{#                        success:function (data) {#}
{#                            var data = JSON.parse(data);#}
{#                            if(data.code == 0){#}
{#                                alert("注册失败");#}
{#                            }else if(data.code == 1){#}
{#                                if (data.user_type == 1)#}
{#                                {#}
{#                                   location.href = "/index";#}
{#                                }else if (data.user_type == 0){#}
{#                                    location.href = "/ho_next_register";#}
{#                                }#}
{#                            }#}
{#                        }#}
{#                    });#}
{#        });#}
{#    </script>#}
{% endblock %}
