{% extends "base.html" %}
{% block title %}房间详情-中国名宿{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- 主体开始 -->
		<div class="sortRoom">
			<div class="container">
                <input type="hidden" id="hid_hs_id" value="{{ entity.hs_id }}" />
                <input type="hidden" id="hid_gr_id" value="{{ room.gr_id }}" />
				<ol class="breadcrumb row sortRoom-crumb">
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="/re_more_page">民宿</a>
					</li>
					<li class="active">Data</li>
				</ol>

				<div class="row sortRoom-hd">
                    {% if room %}
					    <div class="col-sm-6 col-md-8">
                            <div id="carousel-example-generic" class="sortRoom-slide carousel slide" data-ride="carousel" style="height:460px;margin-bottom: 90px;">
{#                                <ol class="carousel-indicators">#}
{#                                    {% for room_image in room_images %}#}
{#                                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class="active col-sm-3"><img src="{{ room_image }}" alt="..."></li>#}
{#                                    {% endfor %}#}
{#                                </ol>#}
                                <div class="carousel-inner" role="listbox" >
                                    {% for room_image in room_images %}
                                        <div class="item {% if loop.index == 1 %}active{% endif %}" >
                                            <img src="{{ room_image }}" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="sortRoom-info">
                                <h2 class="room-name">{{ room.gr_name }}	</h2>
                                <span class="room-pri">
                                <span class="price">¥<span style="font-size:30px;">{{ room.gr_price }}</span>起</span>/晚<br></span>
                                <div class="row room-fav">
                                    <span class="homestay-name">{{ entity.hs_name }}</span>
                                    <a class="fav-btn" id="favorite" data-fav="0">
                                        <span class="icon-large icon-favorite-null-large"></span> 收藏
                                    </a>
                                </div>
                                <div class="homestay-address">{{ entity.hs_address }}</div>

                                <div class="room-detail">
                                    <span>房型: {{ room.gr_room_type }}</span>
                                    <span>房间面积: {{ room.gr_room_area }}<span>m</span><sup>2</sup></span>
                                    <span>床型信息: {{ room.gr_bed_type }}</span>
                                    <br>
                                    <span>最多入住: 4人</span>
{#                                    <span>楼层: 1层</span>#}
                                    {% if room.gr_breakfast == 1 %}
                                        <span>窗户：有</span>
                                    {% elif room.gr_breakfast == 0 %}
                                        <span>窗户:无</span>
                                    {%endif%}

                                </div>
                                {% if room.gr_breakfast == 1 %}
                                    <div class="special-service">
                                    <span class="service-item"><span class="icon-middle icon-breakfast-on-middle"></span> 早餐</span>
                                </div>
                                {% elif room.gr_breakfast == 0 %}
                                    <div class="special-service" style="display: none;">
                                        <span class="service-item"><span class="icon-middle icon-breakfast-on-middle"></span> 早餐</span>
                                    </div>
                                {% endif %}
                            </div>
					    </div>
                    {% endif %}
				</div>

{#				<div class="row">#}
{#					<div id="room_select_wrapper" class="wrapper">#}
{#						<div id="room_select" class="body-section block-content">#}
{#							<div id="book_flow">#}
{#								<p>预订流程</p>#}
{#								<ul>#}
{#									<li class="active">1&nbsp;选择／申请预订</li>#}
{#									<li class="separator">&nbsp;</li>#}
{#									<li>2&nbsp;民宿主人确认</li>#}
{#									<li class="separator">&nbsp;</li>#}
{#									<li>3&nbsp;确认支付</li>#}
{#									<li class="separator">&nbsp;</li>#}
{#									<li>4&nbsp;凭证入住</li>#}
{#									<li class="separator">&nbsp;</li>#}
{#									<li>5&nbsp;住后写点评</li>#}
{#								</ul>#}
{#							</div>#}
{##}
{#						</div>#}
{#						<!-- end room_select -->#}
{#					</div>#}
{#				</div>#}

				<div class="row">
					日历这一块插件自己找一下，没太多时间就没找了
				</div>

				<div class="row">
					<!-- 便利设施 -->
					<div class="new-box" id="room-amenities">
						<h3>便利设施</h3>
						<ul class="box-intro row" style="margin-top:26px;">
{#                            {% if gr_settings %}#}
{#                                {% for gr_setting in gr_settings %}#}
{#                                    <li class="setting_yes col-xs-6 col-sm-3 col-md-2">{{ gr_setting }}</li>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                <li class="setting_no col-xs-6 col-sm-3 col-md-2">暂无设置信息</li>#}
{#                            {% endif %}#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">电视机</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">电冰箱</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">24小时热水</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">免费停车位</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">可以吸烟</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">空调</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">热水壶</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">厨房</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">淋浴</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">热水浴缸</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">可以携带宠物</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">毛巾</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">拖鞋</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">一次性盥洗用品</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">洗衣机</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">代订门票</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">代订包车</li>#}
{#							<li class=" col-xs-6 col-sm-3 col-md-2">可接待家庭/孩子</li>#}
						</ul>
					</div>
				</div>

				<div class="row">
					<h3 style="margin-bottom:26px;">房间简介</h3> {{ room.gr_desc }}
				</div>

{#				<div class="ms-pl">#}
{#					<div class="row">#}
{#						<h3 style="margin-bottom:30px;" class="col-xs-12 col-sm-12">客人点评</h3>#}
{#						<div id="comments_header">#}
{#							<div class="col-xs-12 col-sm-8 score score-default">#}
{#								<span class="icon icon-star-off"></span>#}
{#								<span class="icon icon-star-off"></span>#}
{#								<span class="icon icon-star-off"></span>#}
{#								<span class="icon icon-star-off"></span>#}
{#								<span class="icon icon-star-off"></span>#}
{#								<p>暂无评论</p>#}
{#							</div>#}
{##}
{#							<div id="comments_filter_wrapper" class="col-xs-12 col-sm-4">#}
{#								<div id="comments_filter">#}
{#									<a class="all active" href="javascript:void(0)">全部(0)</a>#}
{#									<span>|</span>#}
{#									<a class="recommend" href="javascript:void(0)">推荐(0)</a>#}
{#									<span>|</span>#}
{#									<a class="not_recommend" href="javascript:void(0)">不推荐(0)</a>#}
{#									<span>|</span>#}
{#									<a class="with_pic" href="javascript:void(0)">有图片(0)</a>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}

				<div class="row other_room_slide_row">
					<h3 class="">民宿其它房型</h3>
						<ul id="other_room_slide" class="lightSlider row">
{#                            {% if room_list %}#}
{#                                {% for item in room_list %}#}
{#                                    <li class="lslide active col-xs-12 col-sm-6 col-md-3">#}
{#                                        <a href="/room_detail/{{ entity.hs_id }}/{{ entity.gr_id }}" title="惠然">#}
{#                                            <img src="http://img1.zzkcdn.com/gx2bcdfb6221e607b76ea535d9015f2d/2000x1500.jpg-roompic.jpg" title="惠然">#}
{#                                            <span class="other-room-name">{{ item.gr_name }}</span>#}
{#                                            <span class="other-room-model">{{ item.gr_bed_type }}</span>#}
{#                                            <span class="other-room-price">{{ item.gr_price }}							<span style="font-size:16px;">元</span>#}
{#                                            </span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                <li class="lslide active col-xs-12 col-sm-6 col-md-3" style="text-align:center;">暂无数据</li>#}
{#                            {% endif %}#}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 主体结束 -->
{% endblock %}
{% block script %}
    <script>
    $(function(){
        var gr_id = $("#hid_gr_id").val();
        $.ajax({
            url:"/manage_center/get_guestroom_by_gr_id",
            type:"POST",
            data:JSON.stringify({"gr_id":gr_id}),
            contentType:"application/json",
            success:function (data) {
                if(data.code ==1){
                    var tmp='';
                    room = data.message;
                    gr_settings = room.gr_settings;
                    settingArray = gr_settings.split(",");
                    if(settingArray.length>0){
                        for(i=0;i<settingArray.length;i++){
                            gr_setting = settingArray[i];
                            if(gr_setting){
                                tmp='<li class="setting_yes col-xs-6 col-sm-3 col-md-2">'+gr_setting+'</li>';
                            }else{
                                tmp='<li class=" col-xs-6 col-sm-3 col-md-2">'+暂无数据+'</li>';
                            }
                            $('.box-intro').append(tmp);
                        }
                    }
                }
            }
        });

        var hs_id = $("#hid_hs_id").val();
        $.ajax({
            url:"/manage_center/get_all_rooms_by_hs_id",
            type:"POST",
            data:JSON.stringify({"hs_id":hs_id}),
            contentType:"application/json",
            success:function(data){
                if(data.code==1) {
                    var tmp = '';
                    roomlist = data.message;
                    if (roomlist.length > 0) {
                        for (i = 0; i < roomlist.length; i++) {
                            room_data = roomlist[i];
                            if (room_data) {
                                tmp += '<li class="lslide active col-xs-12 col-sm-6 col-md-3">';
                                tmp += '<a href="/room_detail/{{ entity.hs_id }}/{{ room.gr_id }}" title="">';
                                tmp += '<img src="http://img1.zzkcdn.com/gx2bcdfb6221e607b76ea535d9015f2d/2000x1500.jpg-roompic.jpg" title="">';
                                tmp += '<span class="other-room-name">' + room_data.gr_name + '</span>';
                                tmp += '<span class="other-room-model">' + room_data.gr_bed_type + '</span>';
                                tmp += '<span class="other-room-price">' + room_data.gr_price + '<span style="font-size:16px;">元</span></span>';
                                tmp += '</a></li>';
                            } else {
                                tmp += '<li class="lslide active col-xs-12 col-sm-6 col-md-3" style="text-align:center;">' + 暂无数据 + '</li>';
                            }
                        }
                        $("#other_room_slide").append(tmp);
                    }
                }
            }
        });
    });
    </script>
{% endblock %}
