<!-- 房东页面的模板 -->
<html lang="utf-8">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - msChina</title>
        <meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/ms.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/static/js/jquery-1.12.1.min.js"></script>
		<script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/layer/layer.js"></script>
    {% endblock %}
</head>
<body>
    {% block banner %}
        <!-- 名宿头部ms-hd开始 -->
		<div class="ms-hd fixHd">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><img src="/static/images/ms_logo.png" width="120" height="50"/></a>
			    </div>
			    <div class="collapse navbar-collapse nav01" id="bs-example-navbar-collapse-02">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">房源管理 <span class="sr-only">(current)</span></a></li>
			        <li role="presentation"><a href="#">管理订单</a></li>
					<li role="presentation"><a href="#">私信</a></li>
					<li role="presentation"><a href="#">房态/房价</a></li>
					<li role="presentation"><a href="#">个人信息</a></li>
					<li role="presentation"><a href="#">运营营销</a></li>
			      </ul>
                  <ul class="nav navbar-nav" style="margin-right: 30px;">
			        <li><a href="" class="li-help">账号:&nbsp;{{ username }}</a></li>
			        <li><a href="" class="li-help" id="user_log_out">退出登录</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
		<!-- 名宿banner区ms-banner结束 -->
    {% endblock %}

    {% block content %}{% endblock %}
    {% block footer %}
        <!-- 底部开始 -->
        <div class= "ms-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>帮助中心</dt>
                                <dd><a href= "">加入我们</a></dd>
                                <dd><a href= "">成为房东</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>关于我们</dt>
                                <dd><a href= "">关于我们</a></dd>
                                <dd><a href= "">网站地图</a></dd>
                                <dd><a href= "">服务声明</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>联系我们</dt>
                                <dd><a href= "">QQ:</a></dd>
                                <dd><a href= "">TEL:</a></dd>
                                <dd><a href= "">E-MAIL:</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <dl class= "ft-item">
                                <dt>合作伙伴</dt>
                                <dd><a href= "">xxx</a></dd>
                            </dl>
                        </div>
                    </div>
                    <p class= "ms-copyright">Copyright 2016 www.mschina.cn All Rights Reserved</p>
                </div>
            </div>
        <!-- 底部结束 -->
    {% endblock %}
</body>
</html>
{% block script %}
{% endblock %}