{% extends "/hcenter/ho_base.html" %}
{% block title %}添加房源_自由者_来去自由_中国名宿网{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <script src="/static/js/geo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
{% endblock %}
{% block content %}
    <!-- 主体开始 -->
    <div class="ms-manage">
			<div class="container" style="margin-top: 80px;">
                <input type="hidden" id="hid_user_id" value="{{ user_id }}">
				<div class="row msMag-block">
					<div class="col-sm-3 msMag-block-aside">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="msMag-block-name page-header">我的房源</li>
						</ul>
					</div>
					<div class="col-sm-9 msMag-block-main">
						<div class="msMag-blockM-top">
							<div class="msMag-blockM-top-col clearfix">
								<h2 class="pull-left">房源管理</h2>
								<div class="pull-right mT13">
                                    <button type="button" class="btn btn-mag" id="btn_add_house">添加新房源</button>
								</div>
							</div>
						</div>
						<div class="msMag-blockM-nr">
							<div class="msMag-nr-detail">
                                <div class="row">
									<div class="col-xs-5 text-right">请从左边选择合适的房源进行编辑</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
<script src="/static/js/ho-left-base.js"></script>
<script>
{#    $("#btn_edit_house").removeAttr("disabled");#}
{#    $("#btn_edit_house").attr({"disabled":"disabled"});#}

    // 编辑房源函数
    function func_edit_house(hs_id) {
        if(hs_id > 0){
            location.href='/house_edit/'+hs_id;
        }
        return false;
    }

    function func_del_house(hs_id) {
        if(hs_id > 0){
            alert(hs_id);
        }
        return false;
    }

    function  func_manage_room(hs_id) {
        if(hs_id > 0){
            location.href='/room_default/'+hs_id;
        }
        return false;
    }

$(function () {
    load_resource_by_user_id(true);
    // 添加房源按钮事件
    $("#btn_add_house").click(function () {
        location.href = "/house_add";
    });


});
</script>
{% endblock %}