{% extends "/hcenter/ho_base.html" %}
{% block title %}添加房源_自由者_来去自由_中国名宿网{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <script src="/static/js/geo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.ui.widget.js"></script>
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
{% endblock %}
{% block content %}
    <!-- 主体开始 -->
    <div class="ms-manage">
			<div class="container" style="margin-top: 80px;">
                <input type="hidden" id="hid_user_id" value="{{ user_id }}">
				<div class="row msMag-block">
					<div class="col-sm-3 msMag-block-aside">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="msMag-block-name page-header">我的房源</li>
						</ul>
					</div>
					<div class="col-sm-9 msMag-block-main">
						<div class="msMag-blockM-top">
							<div class="msMag-blockM-top-col clearfix">
								<h2 class="pull-left">房源管理</h2>
								<div class="pull-right mT13">
                                    <button type="button" class="btn btn-mag" id="btn_add_house">添加新房源</button>
								</div>
							</div>
						</div>
						<div class="msMag-blockM-nr">
							<div class="msMag-nr-detail">
                                <div class="row">
									<div class="col-xs-5 text-right">请从左边选择合适的房源进行编辑</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
<script src="/static/js/ho-left-base.js"></script>
<script>
{#    $("#btn_edit_house").removeAttr("disabled");#}
{#    $("#btn_edit_house").attr({"disabled":"disabled"});#}

    // 编辑房源函数
    function func_edit_house(hs_id) {
        if(hs_id > 0){
            location.href='/house_edit/'+hs_id;
        }
        return false;
    }

    function showDelHouseDialog(hs_id) {
        layer.confirm('您确定要删除该房源吗?', {
            btn: ['确定','取消'] //按钮
        }, function(){
             $.ajax({
                url: "/do_delete_hs",
                type: 'POST',
                data: JSON.stringify({"hs_id": hs_id}),
                contentType: "application/json",
                success:function (data) {
                    if(data.code == 0){
                        layer.msg("删除房源失败");
                        return false;
                    }else if(data.code == 1){
                        location.reload();
                    }
                }
            });
        }, function(){
            layer.msg('取消当前操作',{ time: 1000});
        });
    }

    function showToRoomManageDialog(hs_id,hs_name) {
        layer.confirm('您要对房源:'+hs_name+'进行管理操作吗?', {
            btn: ['确定','取消'] //按钮
        }, function(){
            location.href='/room_default/'+hs_id;
        }, function(){
            layer.msg('取消当前操作',{ time: 1000});
        });
    }
    function func_del_house(hs_id) {
        if(hs_id > 0){
            showDelHouseDialog(hs_id);
        }
        return false;
    }

    function  func_manage_room(hs_id) {
        if(hs_id > 0){
            var hs_name = "";
            for(i=0;i<myArray.length;i++){
                item = myArray[i];
                if(item.hs_id == hs_id){
                    hs_name = item.hs_name;
                    break;
                }
            }
            showToRoomManageDialog(hs_id,hs_name);
        }
        return false;
    }

$(function () {
    load_resource_by_user_id(0,0);
    // 添加房源按钮事件
    $("#btn_add_house").click(function () {
        location.href = "/house_add";
    });


});
</script>
{% endblock %}