{% extends "/hcenter/ho_base.html" %}
{% block title %}添加房源_自由者_来去自由_中国名宿网{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <!-- 主体开始 -->
    <div class="ms-manage">
	    <div class="container" style="margin-top: 80px;">
                <input type="hidden" id="hid_user_id" value="{{ user_id }}"/>
                <input type="hidden" id="hid_hs_id" value="{{ entity.hs_id }}"/>
				<div class="row msMag-block">
                    <div class="col-sm-3 msMag-block-aside">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="msMag-block-name page-header">我的房源</li>
						</ul>
					</div>
                    {% if entity %}
					    <div class="col-sm-9 msMag-block-main">
						<div class="msMag-blockM-top">
							<div class="msMag-blockM-top-col clearfix">
                                <input type="hidden" id="hid_hs_id" value="{{ entity.hs_id }}">
								<h2 class="pull-left">当前房源:{{ entity.hs_name }}</h2>
								<div class="pull-right mT13">
									<button type="button" class="btn btn-mag" id="btn_room_add">添加房间</button>
								</div>
							</div>
						</div>
						<div class="msMag-blockM-nr table-responsive">
							<table class="table">
								<tr>
									<th class="msMag-room">房间名称</th>
									<th class="msMag-state">状态</th>
									<th class="msMag-time">最后更新时间</th>
									<th class="msMag-op">操作</th>
								</tr>
                                {% if roomlist %}
                                    {% for item in roomlist %}
                                       <tr>
                                            <td class="msMag-room">{{ item.gr_name }}</td>
                                            <td class="msMag-state">发布中</td>
                                            <td class="msMag-time">{{ item.gr_modifytime }}</td>
                                            <td class="msMag-op">
                                                <a href= "" class="btn btn-edit">编辑</a>
                                                <a href= "" class="btn btn-info">详情</a>
                                                <a href= "" class="btn btn-warning">取消发布</a>
                                                <a href= "" class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}

                                    <tr>
                                    <td colspan="4"><p>客房列表为空!</p></td>
                                    </tr>
                                {% endif %}
							</table>
						</div>
					</div>
                    {% endif %}
				</div>
			</div>
    </div>
	<!-- 主体结束 -->
{% endblock %}
{% block script %}
    <script src="/static/js/ho-left-base.js"></script>
    <script>
    $(function () {
        var hs_id = $("#hid_hs_id").val();
        load_resource_by_user_id(2,hs_id);
        // 导航到添加客房页面
        $("#btn_room_add").click(function () {
            var hs_id = $("#hid_hs_id").val();
            if(hs_id>0){
                location.href="/room_add/"+hs_id;
            }
        });
        $(".btn-edit").click(function () {
            var gr_id = $("#hid_gr_id").val();
            if(gr_id>0){
                location.href="/room_edit/"+gr_id;
            }
        });
        $(".btn-danger").click(function () {
            var gr_id = $("#hid_gr_id").val();
            $.ajax({
                url:'/do_delete_guestroom',
                type:'POST',
                data:JSON.stringify({'gr_id':gr_id}),
                contentType:'application/json',
                success:function (data) {
                    if(data.code == 0){
                        layer.msg("删除成功");
                    }else if(data.code == 1){
                        window.location.reload();
                    }
                }
            });
        });
    });
    </script>
{% endblock %}